@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background-color: #111827;
  color: #F3F4F6;
  margin: 0;
  padding: 0;
}

.card {
  @apply bg-gray-800 rounded-xl shadow-xl p-6;
}

.card-high {
  @apply border-l-4 border-red-600;
}

.card-medium {
  @apply border-l-4 border-yellow-600;
}

.card-low {
  @apply border-l-4 border-green-600;
}